<div class="md:w-full lg:h-screen  bg-slate-900 box-border flex justify-center">
<div class="flex-col flex w-6/12  h-auto gap-7 box-border pt-14">

  <span class="text-emerald-500">Hi, my name is</span>
  <span class="text-white font-sans text-5xl">Madhan.</span>
  <span class="text-slate-600 text-5xl">I build things for the web.</span>
  <span class="text-slate-500 text-2xl">I am a front-end developer, I specialize in<br> creating visually engaging and user-friendly interfaces <br> for websites and web applications. My role involves transforming <br> design concepts into interactive, responsive, <br> And dynamic digital experiences using a variety of <span class="text-emerald-500">web technologies.</span> </span>
  <!-- <button class="w-52 text-emerald-500  border-2 border-emerald-500 px-2 py-2 rounded">Check out my project!</button> -->
<app-custom-button></app-custom-button>
</div>

</div>
